.profile__info {
    margin: 0 0 0 30px;
    display: grid;
    grid-template-columns: minmax(0, 294px) 24px;
    grid-template-rows: auto auto;
    gap: 16px 18px;
}

@media (max-width: 768px) {
    .profile__info {
        margin: 26px 0 36px 0;
        grid-template-columns: 235px 37px;
        gap: 14px 10px;
    }
}