.card__like-button {
    width: 100%;
    height: 19px;
    background: url("../../../images/like-button.svg") center no-repeat;
    border: none;
}

.card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}